<a href="https://colab.research.google.com/github/JahnaviMandadi25/PythonForDataEngineering-Beginners2Advanced/blob/main/PythonBasics%26Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Basic Concepts**

Data Types

In [22]:
message = "Just revising variables" #Strings
nums = 234234 #Int
decimal = 4653.3454 #Float
boolean = True #Boolean
print(message)
print(type(message))
print(nums)
print(type(nums))
print(decimal)
print(type(decimal))
print(boolean)
print(type(boolean))

Just revising variables
<class 'str'>
234234
<class 'int'>
4653.3454
<class 'float'>
True
<class 'bool'>

If Condition

In [23]:
num = 39  # Assigning the value 39 to the variable 'num'

# Checking if 'num' is greater than or equal to 40
if num >= 40:
  print("Good one!")  # Prints this message if the condition is True
else:
  print("Better luck next time!")  # Prints this message if the condition is False

Better luck next time!

for loop

In [24]:
# Looping through a range of numbers from 0 to 4

for i in range(5):  # range(5) generates numbers: 0, 1, 2, 3, 4
  print(i)  # Prints the current value of 'i' in each iteration

0
1
2
3
4

while loop

In [25]:
# Initialize the variable 'number' with the value 5
number = 5

# Loop will run as long as 'number' is greater than or equal to 0
while number >= 0:  # Checks if 'number' is greater than or equal to 0
  print(number)  # Prints the current value of 'number'

  # Decreases 'number' by 1 in each iteration
  number = number - 1

5
4
3
2
1
0

functions

In [26]:
# Define a function named 'statement' that takes one parameter 'content'

def statement(content):
    # Print a message that includes the content passed to the function
    print("Wishing you the best ", content)

In [27]:
# Define a function 'sum' that takes two parameters 'a' and 'b'
def sum(a, b):
    # Return the sum of 'a' and 'b'
    return a + b

# Call the function with values 34 and 24, and store the result in 'ans'
ans = sum(34, 24)

# Print the result of the sum
print('Sum is', ans)

Sum is 58

Modules

In [ ]:
# Import the math module to access mathematical functions
import math

# Print the square root of 23 using the sqrt function from the math module
print(math.sqrt(23))

4.795831523312719

Packages

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
# Import the pandas library to work with DataFrames
import pandas as pd

# Define a dictionary with sample data for 'name' and 'Age'
data = {'name': ['Jahnavi', 'Sailaja', 'Praneeth'], 'Age': [24, 26, 30]}

# Create a DataFrame from the dictionary 'data'
table = pd.DataFrame(data)

# Print the DataFrame to display the table
print(table)

       name  Age
0   Jahnavi   24
1   Sailaja   26
2  Praneeth   30

String Manipulation

In [28]:
# Define the initial text and name
text = "     You are a Champion"
name = ", Jahnavi!!"

# Replace ', Jahnavi!' with ', Sailaja!' in the 'name' string
name = name.replace(', Jahnavi!', ', Sailaja!')

# Concatenate 'text' and 'name' to form the 'message'
message = text + name

# Print the message after removing any leading/trailing spaces
print(message.strip())

# Find the position of the first occurrence of the letter 'a' in the message
print(message.find('a'))

# Convert the message to uppercase and remove any leading/trailing spaces, then print it
print(message.upper().strip())

# Split the message into a list of words and print the list
print(message.split())

You are a Champion, Sailaja!!
9
YOU ARE A CHAMPION, SAILAJA!!
['You', 'are', 'a', 'Champion,', 'Sailaja!!']

Error Handling

In [29]:
# Use a try block to attempt division
try:
    # Attempt to divide 10 by 0, which will cause an error
    print(10 / 0)

# Catch the exception and display a custom message
except:
    print("Oops! Check the numbers again. You can not divide a number with 0")

Oops! Check the numbers again. You can not divide a number with 0

In [ ]:
# Use a try block to attempt division
try:
    # Attempt to divide 10 by 3, which is a valid operation
    print(10 / 3)

# Catch any exceptions if they occur
except:
    print("Oops! Check the numbers again. You can not divide a number with 0")

# If no exceptions occurred, this block will execute
else:
    print("Good to go")

# This block will always execute, regardless of whether an exception occurred or not
finally:
    print("Keep learning")

3.3333333333333335
Good to go
Keep learning

Collections

Tuples

In [30]:
# Define a tuple with mixed data types
tuple1 = (1, 'Jahnavi', 'Data Engineer', 24)

# Print the entire tuple
print(tuple1)

# Access and print the third element (index 2) of the tuple
print(tuple1[2])

# Print the length of the tuple
print(len(tuple1))

# Access and print the element at index -3 (third from the beginning)
print(tuple1[-3])

# Convert the tuple to a list to modify it
new_tuple = list(tuple1)

# Change the value at index 2 to 'Azure Data Engineer'
new_tuple[2] = 'Azure Data Engineer'

# Convert the list back to a tuple
tuple1 = tuple(new_tuple)

# Print the modified tuple
print(tuple1)

# Loop through the tuple and print each element
for i in tuple1:
    print(i)

# Find and print the index of 'Jahnavi' in the tuple
print(tuple1.index('Jahnavi'))

(1, 'Jahnavi', 'Data Engineer', 24)
Data Engineer
4
Jahnavi
(1, 'Jahnavi', 'Azure Data Engineer', 24)
1
Jahnavi
Azure Data Engineer
24
1

Lists

In [43]:
tasks = [1, 'Cleaning', 23, 'Painting', 'Cooking', 'Shopping']  # Define a list of tasks with mixed data types
print(tasks)

print(tasks[3])  # Access and print the element at index 3 ('Painting')

tasks[3] = 'Coding'  # Change the value at index 3 from 'Painting' to 'Coding'
print(tasks)

tasks.append('Yoga')  # Append 'Yoga' to the end of the list
print(tasks)

tasks.insert(4, 25)  # Insert 25 at index 4, shifting other elements to the right
print(tasks)

tasks.remove(1)  # Remove the first occurrence of 1 from the list
print(tasks)

tasks.pop(6)  # Remove the element at index 6 (which is 'Yoga' after previous operations)
print(tasks)

for i in tasks:  # Loop through the list and print each element
    print(i)

[1, 'Cleaning', 23, 'Painting', 'Cooking', 'Shopping']
Painting
[1, 'Cleaning', 23, 'Coding', 'Cooking', 'Shopping']
[1, 'Cleaning', 23, 'Coding', 'Cooking', 'Shopping', 'Yoga']
[1, 'Cleaning', 23, 'Coding', 25, 'Cooking', 'Shopping', 'Yoga']
['Cleaning', 23, 'Coding', 25, 'Cooking', 'Shopping', 'Yoga']
['Cleaning', 23, 'Coding', 25, 'Cooking', 'Shopping']
Cleaning
23
Coding
25
Cooking
Shopping